*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main{
    display: grid;
    grid-template-rows: 80px auto;
    width: 100%;
    min-height: 100vh;
    padding: 10px 10px;
    background-color: black; 
}

.serch{
    display: flex;
    justify-content: center;
    height: 40px;
    margin-top: 15px;
}

input{
  border-radius:20px;
  width: 600px;
  font-size: 35px;
  border: 0px;
  outline: none;
}

.row{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap:15px;
}

.box{
    background-color: beige;
    height: 400px;
    width: 290px;
    margin: 10px 0;
    position: relative;
}
.box img{
    height:100%;
    width: 100%;
}

.overlay{
    width:290px;
    background-color: yellowgreen;
    border-radius: 15px;
    text-align: justify;
    padding: 15px 15px;
    transition: 0.5s;
    position: absolute;
    bottom: -100%;
    display:hidden;

}

.box:hover .overlay{
    bottom: 0%;
    
}
